<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="reglog.css">
</head>
<body>
    <div class="form-container">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role">
                    <option value="student">Student</option>
                    <option value="tutor">Tutor</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="form-group">
                <label for="course">Select Course:</label>
                <select name="course" id="course" required>
                    <option value="Regulatory Affairs Training">Regulatory Affairs Training</option>
                    <option value="Pharmaceutical Quality Assurance">Pharmaceutical Quality Assurance</option>
                    <option value="Pharmaceutical Supply Chain Management">Pharmaceutical Supply Chain Management</option>
                    <option value="Digital Health & Data Science in Pharmacy">Digital Health & Data Science in Pharmacy</option>
                </select>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</body>
</html>
